<template>
  <div style="align-content: center;text-align: center; margin-left: 2rem;margin-right: 2rem">
    <b-row style="width: 99%;text-align: center">
      <b-col class="col-lg-3 col-md-4 col-sm-4 col-10" style="background-color: #eaeaea;border-radius: 25px;padding: 0px;height: 42rem">
        <div style="background-color: #afaba4;height: 50px;width: 100%;padding: 10px;border-radius: 25px">
          <a style="color:white">Filtro de Departamentos</a>
        </div>
        <div style="border-radius: 5px;border: 1px white solid;padding: 5px;margin: 5px;height: 85%">
             <H1 style="font-size: 1rem">
                Total de Casos Confirmados
             </H1>
              <H1 style="font-size: 0.6rem">
                Actualizado hace {{minutesAgo}} minutos.
              </H1>
              <H1 style="font-size: 2rem;color:red;text-align: left;margin-left:10% ">
                {{totalInfected | toNumber}}
              </H1>
          <div style="text-align: left;margin-left: 2%">
              <div>
              <div class="circulo" style="background-color: yellow"></div>
                <label style="margin: 5px">Casos Activos</label>
                <label style="margin: 5px" >{{ activeCases | toNumber }}</label>
              </div>
              <div>
                <div class="circulo" style="background-color: lawngreen"></div>
                <label style="margin: 5px">Casos Recuperados</label>
                <label style="margin: 5px" >{{ recoveredCases | toNumber }}</label>
              </div>
              <div>
                <div class="circulo" style="background-color: gray"></div>
                <label style="margin: 5px">Casos Mortales</label>
                <label style="margin: 5px" >{{ deathCases | toNumber }}</label>
              </div>
          </div>
          <div class="separator"></div>
          <div style="text-align: left;margin-left: 2%">
            <H1 style="font-size: 1rem">
              Navegar
            </H1>
          </div>
          <b-dropdown id="cityFilters" ref="dropdown" class="m-2" size="sm">
            <template #button-content>
              <b-icon icon="search"></b-icon>
              <span class="mr-2">Departamento</span>
            </template>
            <b-dropdown-form style="width: 100%">
              <div  style="height: 300px">
                <div  style="height: 50%">
                  <multiselect
                      :option-height="30"
                      v-model="filteredCities"
                      :options="cities"
                      placeholder="Seleccione un Departamento"
                      label="ciudad"
                      track-by="cod"
                      open-direction="bottom"
                      :allow-empty="false"
                      :clear-on-select="false"
                      :show-labels="false"
                      :preselect-first="true"
                      @input="filterCity()"
                  >
                  </multiselect>
                </div>
              </div>
            </b-dropdown-form>
          </b-dropdown>
          <div style="align-content: center">
            <ul v-if="filteredCities.ciudad" class="d-inline-block mb-2 mt-3">
              <b-form-tag
                  class="mr-1"
                  variant="warning"
                  :title="filteredCities.ciudad"
                  @remove="onRemoveFilter(), (filteredCities = [])"
              >
                {{ filteredCities.ciudad }} cod:{{ filteredCities.cod}}
              </b-form-tag>
            </ul>
          </div>
        </div>
      </b-col>
      <b-col class="col-lg-9 col-md-8 col-sm-8 col-12" style="background-color: #eaeaea;border-radius: 25px;padding: 0px;height: 42rem">

          <GmapMap
            :center="{lat:4.6435, lng:-74.1533}"
            :zoom="6"
            map-type-id="roadmap"
            style="width: 100%;height: 100%;border-radius: 10px"
        >
          <gmap-polygon :paths="mainData">
          </gmap-polygon>
          <div v-if="markers">
            <GmapMarker
                :key="index"
                v-for="(m, index) in markers"
                :position="{lat: m.lat ,lng: m.lng}"
                @click="toggleInfoWindow(m)"
                :option="MarkerOptions"
            />
          </div>
          <gmap-info-window
              :options="infoOptions"
              :position="infoWindowPos"
              :opened="infoWinOpen"
              @closeclick="infoWinOpen=false"
          >
            <div v-html="infoContent"></div>
          </gmap-info-window>

        </GmapMap>

      </b-col>
    </b-row>
  </div>
</template>
<script>
import Multiselect from 'vue-multiselect'
export default {
  components:{
    Multiselect
  },
  name: 'Dashboard',
  props: {
  },
  filters: {
    toNumber: function (value) {
      return ( new Intl.NumberFormat().format(value))
    }
  },
  data: () => ({
    geoJsonUrl:'https://gist.githubusercontent.com/john-guerra/43c7656821069d00dcbc/raw/3aadedf47badbdac823b00dbe259f6bc6d9e1899/colombia.geo.json',
    covidJsonUrl:'https://www.datos.gov.co/resource/gt2j-8ykr.json',
    markers:[],
    currentMarker:{},
    MarkerOptions:{
      zIndex:999999,
      opacity:0.2
    },
    infoOptions: {
      pixelOffset: {
        width: 0,
        height: -35
      }
    },
    infoWindowPos: {
      lat: 0,
      lng: 0
    },
    infoContent: '',
    infoWinOpen: false,
    mainData:[],
    value: 20,
    minutesAgo:10,
    totalInfected:3251541,
    activeCases:1524154,
    activeCasesToday:0,
    recoveredCases:524154,
    recoveredToday:0,
    deathCases:1124154,
    deathCasesToday:0,
    cities:[
        { ciudad:'medellín', cod:1},
        { ciudad:'bogota', cod:2},
      { ciudad:'barranquilla', cod:3},
    ],
    filteredCities:{ciudad:'Bogota',cod:11}
  }),
  created(){
    this.serviceGeoJason()
    this.serviceCovidCases()
  },
  computed:{
    prueba(){
      return this.value * 2
    }
  },
  methods:{
   filterCity(){
     this.serviceCovidCases()
     this.serviceGeoJason()
     this.$refs.dropdown.hide(true);
    },
    onRemoveFilter(){
      this.serviceCovidCases()
      this.serviceGeoJason()
    },
    async serviceGeoJason(){
      let dataRequest = {
        method: 'GET',
      }
      let response = await fetch(this.geoJsonUrl, dataRequest);
      let result = await response.json();
      let myFeature=result.features

      let myPoligons = []
      let myArrayPoligons = []
      let departamentos =[]
      let myMarkers={lat:1,lng:1}

      myFeature.forEach(eleme=>{
        let auxArray=[]
        if (this.filteredCities.cod){
          if (parseFloat(eleme.properties['DPTO']) == parseFloat(this.filteredCities.cod)){
            if (eleme.geometry.type==="Polygon"){
                  auxArray=eleme.geometry.coordinates[0]
                  auxArray.forEach(elemen=>{
                    myMarkers.lat=parseFloat(elemen[1])
                    myMarkers.lng=parseFloat(elemen[0])
                    myPoligons.push({lat:parseFloat(elemen[1]),lng:parseFloat(elemen[0])})
                  })
                  myArrayPoligons.push(myPoligons)
                  myPoligons=[]

            }
            if (eleme.geometry.type==="MultiPolygon"){

                  auxArray=eleme.geometry.coordinates
                  auxArray.forEach(elemen=>{
                    elemen[0].forEach(elemento=>{
                      myMarkers.lat=parseFloat(elemento[1])
                      myMarkers.lng=parseFloat(elemento[0])
                      myPoligons.push({lat:parseFloat(elemento[1]),lng:parseFloat(elemento[0])})
                    })
                    myArrayPoligons.push(myPoligons)
                    myPoligons=[]
                  })
            }
          }
        }else{
            if (eleme.geometry.type==="Polygon"){
              auxArray=eleme.geometry.coordinates[0]
              auxArray.forEach(elemen=>{
                myMarkers.lat=parseFloat(elemen[1])
                myMarkers.lng=parseFloat(elemen[0])
                myPoligons.push({lat:parseFloat(elemen[1]),lng:parseFloat(elemen[0])})
              })
              myArrayPoligons.push(myPoligons)
              myPoligons=[]
            }
            if (eleme.geometry.type==="MultiPolygon"){

              auxArray=eleme.geometry.coordinates
              auxArray.forEach(elemen=>{
                elemen[0].forEach(elemento=>{
                  myMarkers.lat=parseFloat(elemento[1])
                  myMarkers.lng=parseFloat(elemento[0])
                  myPoligons.push({lat:parseFloat(elemento[1]),lng:parseFloat(elemento[0])})
                })
                myArrayPoligons.push(myPoligons)
                myPoligons=[]
              })
            }
        }
        departamentos.push({ciudad: eleme.properties['NOMBRE_DPT'],
          cod:eleme.properties['DPTO'],
          lat:myMarkers.lat,
          lng:myMarkers.lng,
          area:eleme.properties['AREA'],
          perimetro:eleme.properties['PERIMETER'],
          hectareas:eleme.properties['HECTARES']
        })
        myMarkers.lat=0
        myMarkers.lng=0
      })
      this.mainData = myArrayPoligons
      this.cities=departamentos
      this.markers= departamentos
    },
    async serviceCovidCases() {
      let dataRequest = {
        method: 'GET',
      }
      let response = await fetch(this.covidJsonUrl, dataRequest);
      let result = await response.json();
      let deparment

      if (this.filteredCities.cod){
        deparment = result.filter(elem=>elem.departamento == parseFloat(this.filteredCities.cod) )
      }else{
        deparment = result
      }
      let active = deparment.filter(elem=>elem.recuperado === "Activo").length
      let recovered = deparment.filter(elem=>elem.recuperado === "Recuperado").length
      let death = deparment.filter(elem=>elem.recuperado === "Fallecido").length
      // let others = deparment.filter(elem=>elem.recuperado !== "Fallecido" && elem.recuperado !== "Recuperado")
      this.activeCases=active
      this.recoveredCases=recovered
      this.deathCases=death
      this.totalInfected=deparment.length
    },
    toggleInfoWindow(m){
      this.infoContent = this.getInfoWindowContent(m);
      this.infoWinOpen=true
      this.infoWindowPos.lat=m.lat
      this.infoWindowPos.lng=m.lng
    },
    getInfoWindowContent: function (marker) {
      return (
          `<div style="padding: 5px">
              <table class="gt_table" style="border: 1px solid #000; text-align: left; width: 80%; ">
              <tbody>
              <tr>
              <td style="border: 1px solid #000; text-align: left; ">DPTO</td>
              <td style="border: 1px solid #000; text-align: left; ">${marker.cod}</td>
              </tr>
              <tr>
              <td style="border: 1px solid #000; text-align: left; ">NOMBRE_DPT</td>
              <td style="border: 1px solid #000; text-align: left; ">${marker.ciudad}</td>
              </tr>
              <tr>
              <td style="border: 1px solid #000; text-align: left; ">AREA</td>
              <td style="border: 1px solid #000; text-align: left; ">${marker.area}</td>
              </tr>
              <tr>
              <td style="border: 1px solid #000; text-align: left; ">PERIMETER</td>
              <td style="border: 1px solid #000; text-align: left; ">${marker.perimetro}</td>
              </tr>
              <tr>
              <td style="border: 1px solid #000; text-align: left; ">HECTARES</td>
              <td style="border: 1px solid #000; text-align: left; ">${marker.hectareas}</td>
              </tr>
              </tbody>
              </table>
           </div>`);
    }
  }
}
</script>
<style scoped>
.circulo{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
}
.separator{
  width: 90%;
  background-color: #cec9c9;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5%;
}
</style>
