<template>
  <div id="app">
    <div style="width: 100%; height: 10%;background-color: #a89c94;box-shadow: 1px 1px 3px 1px #b8afac;text-align: center">
      <h3 style="color:white"> <a style="color:red">COVID-19</a> | REPORTE EN TIEMPO REAL - COLOMBIA</h3>
    </div>
    <Dashboard style="width: 100%;height: 100%"/>
  </div>
</template>

<script>
import Dashboard from './components/Dashboard.vue'
export default {
  name: 'App',
  components: {
    Dashboard
  },
  data: () => ({
  }),
  computed:{
  },
  methods:{
  }
}
</script>

<style scoped>

</style>
